
@model Data.Product

<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center mb-5">
                <h2 class="text-uppercase heading border-bottom mb-4">Borrar Producto</h2>
                <br />
                <p class="mb-0 lead">
                    <label for="Name" style="color:black">Nombre del Producto:</label>
                    @Html.DisplayFor(model => model.Name)
                </p>
                <p class="mb-0 lead">
                    <label for="_type" style="color:black">Tipo:</label>
                    @Html.DisplayFor(model => model._type)
                </p>
                <p class="mb-0 lead">
                    <label for="_state" style="color:black">Estado:</label>
                    @Html.DisplayFor(model => model._state)
                </p>
                <p class="mb-0 lead">
                    <label for="System" style="color:black">Sistema:</label>
                    @Html.DisplayFor(model => model.System)
                </p>
                <p class="mb-0 lead">
                    <label for="Family" style="color:black">Familia:</label>
                    @Html.DisplayFor(model => model.Family)
                </p>
                <p class="mb-0 lead">
                    <label for="Application" style="color:black">Aplicación:</label>
                    @Html.DisplayFor(model => model.Application)
                </p>
                <p class="mb-0 lead">
                    <label for="Presentation" style="color:black">Presentación:</label>
                    @Html.DisplayFor(model => model.Presentation)
                </p>
                <p class="mb-0 lead">
                    <label for="Ref" style="color:black">Ref:</label>
                    @Html.DisplayFor(model => model.Ref)
                </p>
                <p class="mb-0 lead">
                    <label for="Name" style="color:black">Nombre del Fabricante:</label>
                    @Html.DisplayFor(model => model.Maker.Name)
                </p>
                <p class="mb-0 lead">
                    <label for="RegisterPresent" style="color:black">Registro Presentado:</label>
                    @Html.DisplayFor(model => model.RegisterPresent)
                </p>
                <p class="mb-0 lead">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <button class="btn btn-lg fa fa-trash fa-lg" type="submit" style="color:red"></button>
                    }
                </p>
               
            </div>
            
        </div>
    </div>

</section>

<section class="cover_1" style="background-image: url(/myimag/mole1.jpg);">
    <div class="container">
    </div>
</section>

   


