

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/sweetalert/sweetalert/sweetalert2.min.css">
<script type="text/javascript" src="~/sweetalert/sweetalert/sweetalert2.min.js"></script>

@using (Html.BeginForm())
{
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 element-animate">
                <div class="col-md-8 text-center mb-5">
                    <h2 class="text-uppercase heading border-bottom mb-4">Revisa tus alarmas</h2>
                    <p class="mb-0 lead">
                        Aquí puedes consultar el estado de los "Registros", "Autorizaciones Temporales de Mercado" 
                        y las "Revisiones Anuales" de los productos.
                    </p>
                </div>
            </div>
            <div class="row element-animate">
                    <div>
                        <div class="media d-block media-custom text-center">
                            <img src="~/myimag/e6.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <p style="color:black">
                                    En "ATENCIÓN" sabrás si existen o no productos que necesitan ser registrados,
                                    mientras que en "PROBLEMAS" estarán recogidos todos aquellos productos
                                    problemáticos en caso de exitir.
                                </p>
                                <button class="btn btn-warning btn-lg fa fa-warning fa-lg" id="btnGetAlarma11">ATENCIÓN</button>
                                <button class="btn btn-danger btn-lg fa fa-window-close fa-lg" id="btnGetAlarma12">PROBLEMAS</button>
                                
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <img src="~/myimag/e5.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <p style="color:black">
                                    En "ATENCIÓN" sabrás si existen o no productos cuya "Autorización Temporal de Mercado"
                                    está por vencerse, mientras que en "PROBLEMAS" estarán recogidos todos aquellos productos
                                    problemáticos en caso de exitir.
                                </p>
                                    <button class="btn btn-warning btn-lg fa fa-warning fa-lg" id="btnGetAlarma21">ATENCIÓN</button>
                                    <button class="btn btn-danger btn-lg fa fa-window-close fa-lg" id="btnGetAlarma22">PROBLEMAS</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="media d-block media-custom text-center">
                            <img src="~/myimag/e3.jpg" alt="Image Placeholder" class="img-fluid">
                            <div class="media-body">
                                <p style="color:black">
                                    En "ATENCIÓN" sabrás si existen o
                                    no productos cuya "Revisión Anual" está por vencerse, mientras que en "PROBLEMAS"
                                    estarán recogidos todos aquellos productos problemáticos en caso de exitir.
                                </p>
                                <p class="element-animate"></p>
                                    <button class="btn btn-warning btn-lg fa fa-warning fa-lg" id="btnGetAlarma61">ATENCIÓN</button>
                                    <button class="btn btn-danger btn-lg fa fa-window-close fa-lg" id="btnGetAlarma62">PROBLEMAS</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END slider -->
                <div class="row justify-content-center mb-5 element-animate">
                    <div class="col-md-8 text-center mb-5">
                        <h2 class="text-uppercase heading border-bottom mb-4">En caso de problemas</h2>
                        <p class="mb-0 lead">
                            Revisa los casos puntuales aquí.
                        </p>
                        <button class="btn btn-classic btn-lg fa fa-refresh fa-lg" id="btnGetClean"></button>
                    </div>
                </div>
            </div>
            
    </section>
        
    <p> <div id="lblMessage" style="color:black"></div></p>
}

@section Scripts
    {
    <script type="text/javascript">

        $(function () {

            $('#btnGetClean').on("click", function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Cleaner")',
                    data: {},
                    datatype: 'json',
                    cache: false,
                })
                    .done(function (data) {
                        if (data.Clean) {
                            $('#lblMessage').html('');
                        }
                        else {
                            $('#lblMessage').html('');
                        }
                    })
                    .fail(function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error!');
                    });

                return false;
            });

            $('#btnGetAlarma11').on("click", function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RegisterBoolAlarmQuery")',
                    data: {},
                    datatype: 'json',
                    cache: false,
                })
                    .done(function (data) {
                        if (!data.A_1) {
                            swal({
                                title: 'Todo Bien!',
                                text: "Todo está al día, no se han encontrado problemas.",
                                type: 'success'
                            })
                        }
                        else {
                            swal({
                                title: 'Problemas!',
                                text: "Necesitar revisar mejor, se han detectado problemas.",
                                type: 'warning'
                            })
                        }
                    })
                    .fail(function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error!');
                    });

                return false;
            });

            $('#btnGetAlarma12').on("click", function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RegisterAlarmQuery")',
                    data: {},
                    datatype: 'json',
                    cache: false,
                })
                    .done(function (data) {
                        var outPut = '';
                        for (var i = 0; i < data.A_2.length; i++) {
                            for (var j = 0; j < data.A_2[i].length; j++) {
                                outPut += data.A_2[i][j].Item1 + data.A_2[i][j].Item2 + '<br/>';
                            }
                            outPut += '<hr/><br/>';
                        }
                        $('#lblMessage').html(outPut);
                    })
                    .fail(function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error!');
                    });

                return false;
            });

        //----------------------------------------------End1-----------------------------------------------------------------
            

                $('#btnGetAlarma21').on("click", function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AuthBoolAlarmQuery")',
                        data: {},
                        datatype: 'json',
                        cache: false,
                    })
                        .done(function (data) {

                            if (!data.A_11) {
                                swal({
                                    title: 'Todo Bien!',
                                    text: "Todo está al día, no se han encontrado problemas.",
                                    type: 'success'
                                })
                            }
                            else {
                                swal({
                                    title: 'Problemas!',
                                    text: "Necesitar revisar mejor, se han detectado problemas.",
                                    type: 'warning'
                                })
                            }
                        })
                        .fail(function (hxr, ajaxOptions, throwError) {
                            $('#lblMessage').html('Error!');
                        });

                    return false;
                });

                $('#btnGetAlarma22').on("click", function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AuthAlarmQuery")', 
                        data: {},
                        datatype: 'json',
                        cache: false,
                    })
                    .done(function (data) {
                        var outPut = '';
                        for (var i = 0; i < data.A_12.length; i++) {
                            for (var j = 0; j < data.A_12[i].length; j++) {
                                outPut += data.A_12[i][j].Item1 + data.A_12[i][j].Item2 + '<br/>';
                            }
                            outPut += '<hr/><br/>';
                        }
                        $('#lblMessage').html(outPut);
                    })
                    .fail(function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error!');
                    });

                return false;
            });

        //----------------------------------------------End2-----------------------------------------------------------------
        

                $('#btnGetAlarma61').on("click", function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("YRevBoolAlarmQuery")',
                        data: {},
                        datatype: 'json',
                        cache: false,
                    })
                        .done(function (data) {

                            if (!data.A_3) {
                                swal({
                                    title: 'Todo Bien!',
                                    text: "Todo está al día, no se han encontrado problemas.",
                                    type: 'success'
                                })
                            }
                            else {
                                swal({
                                    title: 'Problemas!',
                                    text: "Necesitar revisar mejor, se han detectado problemas.",
                                    type: 'warning'
                                })
                            }
                        })
                        .fail(function (hxr, ajaxOptions, throwError) {
                            $('#lblMessage').html('Error!');
                        });

                    return false;
                });

                $('#btnGetAlarma62').on("click", function () {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("YRevAlarmQuery")', 
                        data: {},
                        datatype: 'json',
                        cache: false,
                    })
                    .done(function (data) {
                        var outPut = '';
                        for (var i = 0; i < data.A_4.length; i++) {
                            for (var j = 0; j < data.A_4[i].length; j++) {
                                outPut += data.A_4[i][j].Item1 + data.A_4[i][j].Item2 + '<br/>';
                            }
                            outPut += '<hr/><br/>';
                        }
                        $('#lblMessage').html(outPut);
                    })
                    .fail(function (hxr, ajaxOptions, throwError) {
                        $('#lblMessage').html('Error!');
                    });

                return false;
            });

        //----------------------------------------------End3-----------------------------------------------------------------

            

     });
</script>
}
